@charset "UTF-8";
body {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1607588534336&di=1c89b212740bdfa90bec284aabf11320&imgtype=0&src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201808%2F23%2F20180823101356_fxgtr.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}