@charset "UTF-8";
body {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1607588207789&di=2abab620dd3086bc83362b91e038fbf5&imgtype=0&src=http%3A%2F%2Fimg.pptjia.com%2Fimage%2F20190108%2F9ec44adb1dde6b9113c773744c6b5e9f.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}